.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ALEX STUFF BELOW */

.alxNavStyle {
  background-image: linear-gradient(to left, lightgreen, darkgreen );
}

.navLinkStyle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: 0.3s;
  color: white;
  margin: 1rem;
}
.navLinkStyle:hover {
  background-color: white;
  letter-spacing: 3px;
  border-radius: 8px;
  color: darkgreen;
  box-shadow: 0px 0px 8px 2px white;
  padding-left: 0.4rem;
}

.navLogoStyle {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  transition: 0.3s;
}

.navLogoStyle:hover {
  padding-left: 0.3rem;
  background-color: white;
  color: darkgreen;
  letter-spacing: 2px;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 2px white;
}

.mainBanner {
  background-image: url("https://i.imgur.com/bX6q2Oe.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}

.mainBannerText {
  -webkit-text-stroke: black 3px;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.titleTextContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 7px;
  box-shadow: 0px 0px 8px 2px;
}

.introTextContentBody {
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.introTextContentTitle {
  margin-left: 1rem;
  text-align: left;
  color: white;
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
}

.sepparatorDiv {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerText {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 3rem;
}

footer {
  padding: 1rem;
}

.FASicons {
  padding-left: 0.5rem;
  font-size: 3rem;
  color: white;
}

.FASicons:hover {
  color: white;
}

.alxCustomBtn {
  font-family: 'Comfortaa', cursive;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  margin-bottom: 1rem;
}

.togglerBtn {
  color: white;
}

.LeafLogo {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15rem;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .mainBannerText {
    -webkit-text-stroke: black 1px;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  .introTextContentTitle {
    margin-left: 1rem;
    text-align: left;
    color: white;
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
  }

  .introTextContentBody {
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
  }

}
